.TituloBackground{
    background-image: url(../Imagenes/bannerUpiicsa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px 0;
}

.Titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 20px 0px;
}

.ContInit{
    display: flex;
    justify-content: space-around;
    padding: 35px 35px 0px 35px ;
    gap: 25px;
}

@media screen and ( max-width: 500px){    
    .ContInit{
        display: block;
        justify-content: space-around;
        gap: 25px;
    }
}

.Cont{
    display: flex;
    justify-content: space-around;
    padding: 5px 10px 5px 10px;
}


.subCont{
    width: 100%;
    max-width: 400px;
    display: inline-block;
    padding: 10px;
    background-color: #3659f3;
    color: azure;
    margin: 5px;
    border-radius: 15px;

}

@media screen and (max-width: 500px) {
    .subCont{
        font-size: 10px;
    }

}


#txt1{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.liner{
	height: 2px;
    justify-content: space-around;
	background: rgb(180, 180, 180);
	position: absolute;
	width: 65%;
	z-index: 1;
    margin-top: 17px;
    align-items: center;
}

.linerBe{
    display: flex;
    justify-content: space-around;
    padding: 0px 20px 0px 20px;
}

.lista{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.subTit{
    display: inline-block;
    justify-content: space-around;
    font-weight: bold;
    padding: 0;
    position: static;
    text-align: center;
    z-index: 2;
    font-size: 12px;
}

.imagen{
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0px;
    border-radius: 10px;
}