.Titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.Cont{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    gap: 50px;
}

#button{
    display: flex;
    justify-content: center;
}

#txt1{
    font-size: 20px;
}
