#main-event{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Imagenes/TalentL.png);
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
    color: lavender;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    text-align: center;
}

.collage{
    margin: 0px 10px 25px !important;
    border-radius: 15px;
}

.collage > div{
    margin: 8px 0px !important; 
}

.collage > div > img{
    box-shadow: 0px 0px 3px 1px black !important;
    border-radius: 15px;
}

#eventContainer > .collage > div > img{
    height: 200px;
    width: 300px;
    max-width: 300px !important;
}

.elem-event{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.elem-event>p{
    padding-left: 16%;
    padding-right: 16%;
    padding-top: 2%;
    text-align: center;
}
#agenda{
    align-items: center;
    justify-content: center;
    display: flex; 
    flex-direction: column;
    width: 50%;
}

.evento{
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index: 2;
    
}

.hora{
    background-color: #0275d8;
    color: antiquewhite;
    border-radius: 15px;
    padding: 0px 10px;
    height: 25px;
    font-weight: bold;
    align-items: center;

}

.datos{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.datos > p{
    margin: 0%;
}

#liner{
	width: 2px;
    justify-content: space-around;
	background: #0275d8;
	position: absolute;
	z-index: 1;
    align-items: initial;
}

.event{
    font-size: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
}

#eventContainer
{
    margin-left: 20vh;
}

.descrip{
    font-size: 13px;
    text-align: initial;
    vertical-align: middle;
    font-weight: lighter;

}

.map-responsive {
    position: relative;
    padding-bottom: 400px;
    height: 0;
    overflow: hidden;
}
.map-responsive iframe{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 60px; 
    width: 100% !important;
    height: 400px !important;
}

#ubic-elem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.fondo{
    background-color: #0275d8;
    color: white;
    align-items: center;
    justify-items: center;
}

#agendaContainer{
    display: none;
}

