*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-image: url(../Imagenes/Mesa\ de\ trabajo\ 1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar-nav > li{
    align-items: center;
    margin-left: auto;
    margin-right:auto;
  }

.icono {
    padding-left: 20px;
}

/*Parte central de la página*/

#main-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Imagenes/historia2.PNG);
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
    color: lavender;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    text-align: center;
}


#Title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*Temporal*/
    height: 50px;
}

#Button{
    display: flex;
    justify-content: center;
    padding: 10px;
}

#main-3-R{
    color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

#Laboratorio1, #Laboratorio2, #Laboratorio3{
    box-shadow: 0px 0px 5px 1px black;
}

#main-4-Integrantes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;;
}

.info{
    width: 15rem;
    margin: 10px;
    padding-left: 0% !important;
    padding-right: 0% !important;
}


#Integrante{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 200px;
}
#Imagen-I{
    display: flex;
    height: 200px;
    width: 200px;
    background-color: grey;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.social{
    display: flex;
    flex-direction: row;
}

.redes{
    align-items: center;
    justify-content: center;
    padding: 8px;
}

/*Carrusel parte Luis*/

