*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Parte central de la página*/

#main-1{
    background-image: url(../Imagenes/bannerUpiicsa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: lavender;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*height: 200px;*/
    padding: 50px 0 50px 0;
    text-align: center;
}



#Title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*Temporal*/
    height: 50px;
}

#main-3-R{
    color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.lab{
    box-shadow: 0px 0px 5px 1px black !important;
}


.info{
    width: 15rem;
    margin: 10px;
    padding-left: 0% !important;
    padding-right: 0% !important;
}


/*Carrusel parte Luis*/

