<footer class="bg-dark text-white">
   <h3>Visita nuestras redes sociales</h3>  
     <div class="social">
       <a href="https://www.facebook.com/Ucodeit-Upiicsa-106599725009006" class="redes">
         <img src="/images/Logos/facebook.png" width="30px" height="30px" alt="facebook">
       </a>
       <a href="#" class="redes">
         <img src="/images/Logos/gorjeo.png" width="30px" height="30px" alt="twitter">
       </a>
       <a href="https://www.instagram.com/ucodeit_upiicsa/" class="redes">
         <img src="/images/Logos/instagram.png" width="30px" height="30px" alt="">
       </a>
   </div>
 </footer>