<!DOCTYPE html>
<html>
   <%- include('./components/head.ejs')%>
   <body>
      <!--Barra de Navegación-->
      <%- include('./components/header.ejs') %>
      <main>
         <div class="TituloBackground">
            <H1> ¿Qué es Ucodeit?</H1>
            <i id="txt1">Una comunidad de inventos para inventores</i>
         </div>
         <div class="ContInit">
            <div>
            <p>Ucodeit es una comunidad conformado por alumnos y exalumnos de UPIICSA que bridan la oportunidad de expandir 
               conocimientos tecnológicos y ponerlos en práctica. Al mismo tiempo que simulan el mundo laboral.</p>
            <b>¿Qué es una comunidad?</b>
            <p>La comunidad es un grupo de estudiantes que brindan un servicio o apoyo que complementa el estudio, 
               mediante diferentes actividades. Algunas de estas actividades cuentan como electivas.</p>
            </div>
            <div>
               <b>¿Qué hacemos?</b>
               <p>Realizamos distintos proyectos profesionales; como plataformas digitales, videojuegos y realidad virtual. Explorando el proceso completo que se ve allá fuera.
                  Además participamos en eventos como los hackátones. </p>
            </div>
         </div>
         <hr>
         <div class="Titulo">
            <h2>¿Cómo puedo unirme?</h2>
         </div>
         <div class="linerBe">
            <div class="liner"></div>
         </div>
         <div id="Grafico" class="lista">
            <div class="subTit">
            <img src="/images/Iconos/icon1.png" alt="icono1" width="40px" height="40px">
            <p>Contesta el formulario</p>
            </div>
            <div class="subTit">
            <img src="/images/Iconos/icon2.png" alt="icono2" width="40px" height="40px">
            <p>Te contactamos</p>
            </div>
            <div class="subTit">
            <img src="/images/Iconos/icon3.png" alt="icono3" width="40px" height="40px">
            <p>Iniciamos</p>
            </div>
         </div>
         <div class="Cont">
            <div class="subCont">
            
            <img src="/images/Logos/Formulario.png" alt="formulario" class="imagen">
            <p>Solo contesta nuestro formulario que esta en la nuestra página y espera respuesta. También puedes 
               contactarnos por nuestras redes sociales </p>
            </div>
            <div class="subCont">
            
            <img src="/images/Logos/Contacto.png" alt="formulario" class="imagen">
            <p>Nos pondremos en contacto contigo en menos de 24 horas, para agendar una videollamada y que nos hables más 
               acerca de ti.</p>
            </div>
            <div class="subCont">
            
            <img src="/images/Logos/trabajo.png" alt="formulario" class="imagen">
            <p>Después de tu entrevista, ya estás listo para iniciar dentro de la comunidad. <i>Recuerda que no necesitas nada más que ser parte de UPIICSA</i></p>
            </div>
         </div>
         <div id="Button">
            <button type="button" class="btn btn-primary">
            <a href="index#Lab" class="btn btn-primary">Todos los proyectos</a>
            </button>
         </div>
         <hr>
         <div class="preguntas">
            <h2 class="Titulo">Preguntas Frecuentes</h2>
            <details>
            <summary><i>¿Qué requisitos necesito para ser parte de la comunidad?</i></summary>
            <div class="content">
               <p>No necesitas ningún requisito, únicamente formar parte de UPIICSA y tener disposición para trabajar en equipo</p>
            </div>
            </details>
      </main>
      <!--Contacto-->
      <%- include('./components/footer.ejs') %>
   </body>
</html>


