<!DOCTYPE html>
<html lang="es">
   <%- include('./components/head.ejs')%>
   <body>
      <!--NavBar-->
      <%- include('./components/header.ejs') %>
      <main>
      <!--Banner Evento-->
      <div class="TituloBackground">
         <h1>Ucode-it</h1>
         <p id="txt1"><i>Comunidad de desarrollo de Software de UPIICSA</i></p>
      </div>
      <!--Descripción del Evento-->
      <div class="elem-event">
         <h2>Descripción</h2>
         <p>En Jalisco Talent Land buscan cambiar el mundo con talento en el 
            máximo encuentro que reúne a quienes dan vida a la innovación con aquellos que impulsan las soluciones del futuro.</p>
      </div>

      <div class="container">
         <div class="row collage">
            <div class="col-md-4 mt-3 col-lg-4">
            <img src="https://source.unsplash.com/collection/190726/1500x900" class="img-fluid" alt="image">
            </div>
            <div class="col-md-4 mt-3 col-lg-4">
               <img src="https://source.unsplash.com/collection/190726/1500x900" class="img-fluid" alt="image">
            </div>
            <div class="col-md-4 mt-3 col-lg-4">
               <img src="https://source.unsplash.com/collection/190726/1500x900" class="img-fluid" alt="image">
            </div>
         </div>
      </div>

      <hr>

      <div class="elem-event">
         <h2>Conferencistas</h2>
         <div class="row justify-content-center integrantes">
            <div class="card col-3 col-sm-4 bg-white info">
            <div class="/imagesPerfil">
               <img src="/images/fotoperfil.png" class="imgPerfil" alt="Integrante1">
            </div>
            <div class="infoPerfil">
               <p class="nombrePerfil">Luis Gonzalez</p>
               <p class="datosPerfil"><i>Desarrollador web</i></p>
               <div class="redesSocialesPart">
                  <a href="https://www.facebook.com" target="_blank"><img class="rsImg" src="/images/Logos/facebookgris.png" alt="redesociales"></a>
                  <a href="https://www.twitter.com" target="_blank"><img class="rsImg" src="/images/Logos/twittergris.png" alt="redesociales"></a>
                  <a href="https://www.linkedin.com" target="_blank"><img class="rsImg" src="/images/Logos/linkind.png" alt="redesociales"></a>
               </div>
            </div>
            </div>
            <div class="card col-3 col-sm-4 bg-white info">
            <div class="/imagesPerfil">
               <img src="/images/fotoperfil.png" class="imgPerfil" alt="Integrante1">
            </div>
            <div class="infoPerfil">
               <p class="nombrePerfil">Dax</p>
               <p class="datosPerfil"><i>Desarrollador web</i></p>
               <div class="redesSocialesPart">
                  <a href="https://www.facebook.com" target="_blank"><img class="rsImg" src="/images/Logos/facebookgris.png" alt="redesociales"></a>
                  <a href="https://www.twitter.com" target="_blank"><img class="rsImg" src="/images/Logos/twittergris.png" alt="redesociales"></a>
                  <a href="https://www.linkedin.com" target="_blank"><img class="rsImg" src="/images/Logos/linkind.png" alt="redesociales"></a>
               </div>
            </div>
            </div>
            <div class="card col-3 col-sm-4 bg-white info">
            <div class="/imagesPerfil">
               <img src="/images/fotoperfil.png" class="imgPerfil" alt="Integrante1">
            </div>
            <div class="infoPerfil">
               <p class="nombrePerfil">Karol</p>
               <p class="datosPerfil"><i>Desarrollador web</i></p>
               <div class="redesSocialesPart">
                  <a href="https://www.facebook.com" target="_blank"><img class="rsImg" src="/images/Logos/facebookgris.png" alt="redesociales"></a>
                  <a href="https://www.twitter.com" target="_blank"><img class="rsImg" src="/images/Logos/twittergris.png" alt="redesociales"></a>
                  <a href="https://www.linkedin.com" target="_blank"><img class="rsImg" src="/images/Logos/linkind.png" alt="redesociales"></a>
               </div>
            </div>
            </div>
         </div>
      </div>
      <hr>
      <div class="elem-event">
         <h2>Agenda</h2>
         <!--DIVS DE PRUEBA. SE NECESITA SABER COMO HACER EL GRAFICO Y DECIDIR SI USAR GRID O FLEX-->
         <div id="agenda">
            <div id="liner"></div>
            <div class="evento">
            <p class="hora">11:00</p>
            <div class="datos">
               <p class="event">MEET & GREET</p>
               <p class="descrip">Conoceras a lo conferencitas que estaran en el evento</p>
            </div>
            </div>
            <div class="evento">
            <p class="hora">11:00</p>
            <div class="datos">
               <p class="event">Conociminetos</p>
               <p class="descrip">Aprenderas el uso de las tecnologias en el entorno laboral</p>
            </div>
            </div>
            <div class="evento">
            <p class="hora">11:00</p>
            <div class="datos">
               <p class="event">Conociminetos</p>
               <p class="descrip">Aprenderas el uso de las tecnologias en el entorno laboral</p>
            </div>
            </div>
            <div class="evento">
            <p class="hora">11:00</p>
            <div class="datos">
               <p class="event">Conociminetos</p>
               <p class="descrip">Aprenderas el uso de las tecnologias en el entorno laboral</p>
            </div>
            </div>
            <div class="evento">
            <p class="hora">11:00</p>
            <div class="datos">
               <p class="event">Conociminetos</p>
               <p class="descrip">Aprenderas el uso de las tecnologias en el entorno laboral</p>
            </div>
            </div>
         </div>
      </div>
      <hr>
      <div class="elem-event">
         <h2>¿Quieres participar?</h2>
         <i>Únete a la comundad y participa con nosotros</i>
         <div id="Button">
            <a href="formulario" class="btn btn-primary">Solicitud</a>
         </div>
      </div>
      <div class="mapas fondo">
         <div class="elem-event">
            <h2>Ubicación</h2>
            <i>Av. Té 950, Granjas México, Iztacalco, 08400 Ciudad de México, CDMX</i>
         </div>
         <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7526.761833722506!2d-99.091836!3d19.395941!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xabf8454acb3a3a99!2sUPIICSA%20%E2%80%93%20Unidad%20Profesional%20Interdisciplinaria%20de%20Ingenier%C3%ADa%20y%20Ciencias%20Sociales%20y%20Administrativas%20IPN!5e0!3m2!1ses-419!2smx!4v1647460824097!5m2!1ses-419!2smx" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
         </div>
      </div>
      

      </main>
      
      <!--Contacto-->
      <%- include('./components/footer.ejs')%>
      <script src="js/ajuste.js"></script>
   </body>
</html>
