<!DOCTYPE html>
<html>
   <%- include('./components/head.ejs')%>
   <body>
      <!--Barra de Navegación-->
      <%- include('./components/header.ejs') %>
      <main>
            <div class="TituloBackground">
               <H1> ¿Qué es Ucodeit?</H1>
               <i id="txt1">Una comunidad de inventos para inventores</i>
            </div>
            <div>
               <center><h2>Sus datos han sido enviados</h2></center>
            </div>
      </main>
      <!--Contacto-->
      <%- include('./components/footer.ejs') %>
   </body>
</html>


